* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

@font-face {
    font-family: BIGJOHN;
    src: url("fonts/BIG_JOHN.otf") format("opentype");
}

@font-face {
    font-family: quicksilver;
    src: url("fonts/Quicksand-Regular.otf") format("opentype");
}

#scrollContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;

}
#scrollContainer {
height: 100%;
margin: auto;
}

.panel {
    width: 100%;
    height: 800px;
}

h1 {
    font-family: BIGJOHN;
    color: white;
    line-height: 50px;
}

p {font-family: quicksilver;
    color: white;
}

div[title="home"] {
    /* tint */
    background: linear-gradient(
      rgba(40, 40, 40, .80),
      rgba(40, 40, 40, .80)
    ),
    /* bottom, image */
    url(images/rockies.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div[title="school"] {
    /* tint */
    background: linear-gradient(
      rgba(40, 40, 40, .60),
      rgba(40, 40, 40, .60)
    ),
    /* bottom, image */
    url(images/geisel.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.centertext {
    text-align: center;
    align-self: center;
}
