html {
	font-family:Tahoma, Geneva, sans-serif;
}
/* Navbar stuff */

#wrap {
   margin: 10px auto;        
   background: #FFF;
   padding: 10px;
   width: 700px;
}
#header {
   background-color: #FFF;
   color: #FFF;
}
#logo {
   font-size: 30px;  
   line-height: 40px;    
   padding: 5px;
}
#navWrap {
   height: 50px;
}
#nav {
   padding: 5px;
   background: #FFF;    
}
#nav ul {
   margin: 0;
   padding: 0;    
}
#nav li {
   float: left;
   padding: 3px 8px;
   background-color: #FFF;
   margin: 0 10px 0 0;
   color: #F00;
   list-style-type: none;
}
#nav li a {
   color: #FFD420;  
   text-decoration: bold;    
}
#nav li a:hover {
   background-color: #c9c9c9;
}
br.clearLeft {
   clear: left;        
}

b,strong,optgroup {
	font-weight:700;
}

a {
    color: inherit;
    padding: 9px 9px;
    text-decoration: none;
    border-radius: 3px;
}

a:hover {
    color: inherit;

}

.view-list #index,
.view-index #list {
    display: none;
}

h1 {
	font-size: 58px;
}

h2 {
    margin-bottom: 33px;
}

h1, h2, h3, h4 {
    text-transform: capitalize;
}

.view-index section {
    padding: 20px 20px 370px 20px;
}

.view-index h1 {
    color: #FD8B00;
    margin-bottom: 1px;
}

/* link highlighting for white bg panes */
.view-index section:nth-of-type(2n-1) a {
    background: #FD8B00;
}

.view-index section:nth-of-type(2n-1) a:hover {
    background: #ffdd4d;
}

/* link highlighting for yellow bg panes */
.view-index section:nth-of-type(2n) a {
    background: #000a4c;
}

.view-index section:nth-of-type(2n) a:hover {
    background: #0019c2;
}

.view-index section:nth-of-type(2n) {
    background: #FD8B00;
    color: white;
}

/* title section */
.view-index section:nth-child(1) {
    background: url("./images/pulsegif.gif") no-repeat right center fixed;
    background-size: cover;
}

/* about section */
.view-index section:nth-child(2) {
    background: #FD8B00 no-repeat center center fixed;
    background-size: cover;
}