html {
	font-family:Tahoma, Geneva, sans-serif;
}

b,strong,optgroup {
	font-weight:700;
}

.view-list #index,
.view-index #list {
    display: none;
}

h1 {
	font-size: 58px;
}

.view-index section {
    padding: 230px 20%;
}

.view-index h1 {
    color: #FFD420;
    margin-bottom: 1px;
}
