core-scroll-header-panel::shadow #headerBg {
    background-image: url("./images/LA.jpg");
}

core-scroll-header-panel::shadow #condensedHeaderBg {
    background-color: #FFC107;
}

core-toolbar {
    color: #f1f1f1;
    fill: #f1f1f1;
    background-color: transparent;
}

body {
    font-family: 'Cuprum', sans-serif;
    background-color: LightGray;
}

.content {
    padding: 20px;
    margin: 0 0 0 0;
}

.card {
    max-width: 550px;
    padding:1.5rem;
    box-shadow:0 1px 2px #aaa;
    background: white;
    margin:0 1rem 1rem;
    border-radius:3px;
    user-select:none;
    animation:fly-in-from-left .5s 1s ease both;
    transform-origin:top left;
}

.card paper-fab{
    margin-right: -3.2rem
}

.rotateclass{
    -webkit-animation-name: mymove;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-name: mymove;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(45deg);}
}

/* Standard syntax */
@keyframes mymove {
    from {transform: rotate(0deg);}
    to {transform: rotate(45deg);}
}

.reverseRotateclass{
    -webkit-animation-name: reverseRotate;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-name: reverseRotate;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes reverseRotate {
    from {-webkit-transform: rotate(45deg);}
    to {-webkit-transform: rotate(0deg);}
}

/* Standard syntax */
@keyframes reverseRotate {
    from {transform: rotate(45deg);}
    to {transform: rotate(0deg);}
}

.overlay {
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px; 
    height: 100%;
    width:100%;  
    /* styling bellow */  
    background-color:black;   
    font-size:35px;  
    color:white;  
    opacity: 0; /* transparency */  
    border-radius:3px;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.job:hover .overlay{
    opacity: 0.6; /* transparency */  
}

.job {
    float: left;
    position: relative;
}

span {
    text-align: center;
}



#invisacard {
    opacity: 0;
}
